@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700;900&display=swap');

@font-face {
    font-family: 'mantouSans';
    src: url('/public/font/MantouSans-Regular.woff2') format('woff');
}

:root {
    --primary: #050e39;
    --secondary: #fff;
    --green-primary: #00ff57;
    --green-gradient: #273a55;
    --green-600: #245520; /* 81 ~ 100 */
    --green-500: #397735; /* 66 ~ 80 */
    --green-400: #4b8f32; /* 51 ~ 65 */
    --green-300: #6bba57; /* 35 ~ 50 */
    --green-200: #80d964; /* 21 ~ 35 */
    --green-100: #9aec7f; /* 0 ~ 20 */
    --green-hover: rgba(0, 255, 87, 1); /* 用在 hover */
    --blue-primary: #00e0ff;
    --blue-gradient: #1f3258;
    --blue-900: #161e47;
    --blue-800: #05145a;
    --blue-600: #233d6d;
    --blue-500: #32528f;
    --blue-400: #3f66b1;
    --blue-300: #4978d1;
    --blue-200: #5c94ff;
    --blue-100: #7ba8ff;
    --blue-hover: rgba(0, 224, 255, 1); /* 用在 hover */
    --yellow-primary: #fff500;
    --yellow-gradient: #353b4a;
    --yellow-600: #70681e;
    --yellow-500: #8e8320;
    --yellow-400: #aa9e32;
    --yellow-300: #d0c248;
    --yellow-200: #e9da50;
    --yellow-100: #f2e77c;
    --yellow-hover: rgba(255, 245, 0, 1); /* 用在 hover */
    border: 1px solid #fff;
    --card-gradient-green: linear-gradient(to right bottom, var(--green-gradient), var(--blue-900) 30%),
        linear-gradient(to right bottom, var(--secondary), var(--blue-900));
    --card-gradient-blue: linear-gradient(to right bottom, var(--blue-gradient), var(--blue-900) 30%),
        linear-gradient(to right bottom, var(--secondary), var(--blue-900));
    --card-gradient-yellow: linear-gradient(to right bottom, var(--yellow-gradient), var(--blue-900) 30%),
        linear-gradient(to right bottom, var(--secondary), var(--blue-900));
    --card-gradient-hover: linear-gradient(var(--secondary), var(--secondary));
    font-family: futura, 'mantouSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 20px;
    box-sizing: border-box;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: var(--primary);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}
